.DS_Store
node_modules/
public/bower_components/*
!public/bower_components/angular
public/bower_components/angular/*
!public/bower_components/angular/angular.js
!public/bower_components/bootstrap/
public/bower_components/bootstrap/*
!public/bower_components/bootstrap/dist
!public/bower_components/angular-animate
public/bower_components/angular-animate/*
!public/bower_components/angular-animate/angular-animate.js
